.footer {
  background-color: white;
  margin-top: 275px;
  padding-top: 70px;
  @include mobile {
    background-color: transparent;
    padding-top: 0;
    margin-top: 54px;
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
    @include mobile {
      flex-direction: column;
      gap: 40px;
      margin-bottom: 46px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ececec;
    padding-top: 38px;
    padding-bottom: 10px;
    @include mobile {
      border-top: 0;
      padding-top: 0;
    }
    &-text {
      @include font($fs: 16px, $color: $green);
      @include mobile {
        color: $text_gray;
      }
    }
  }
}

.info {
  &__box {
    display: flex;
    flex-direction: column;
    gap: 27px;
    @include mobile {
      &:nth-child(2) {
        display: none;
      }
    }
  }
  &__title {
    @include font($fs: 22px, $fw: 500);
  }
  &__text {
    @include font($fs: 18, $color: $text_gray);
    cursor: pointer;
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
